server {
  listen 80;
  server_name <%= @fqdn %>;
  server_tokens off;
  return 301 https://<%= @fqdn %>$request_uri;
}

server {
  listen 443;
  server_name <%= @fqdn %>;
  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

  ssl on;
  ssl_certificate /etc/ssl/<%= @fqdn %>.crt;
  ssl_certificate_key /etc/ssl/<%= @fqdn %>.key;
  ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

  location / {
    proxy_pass http://127.0.0.1:4180/;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forward-Proto http;
    proxy_set_header X-Nginx-Proxy true;
    proxy_redirect off;
    proxy_read_timeout 300;
  }
}
